<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    창 이름을 뛰워줌 -->
    <title>게시물 작성 폼</title>
</head>

<style>
    .layout{
        width :500px;

        /*위아래는 0 좌우는 오토*/
        margin: 0 auto;
        margin-top: 40px;
    }
    .layout  input{
        width : 100%;
        box-sizing: border-box;
    }

    .layout  textarea{
        margin-top: 10px;
        width: 100%;
        min-height: 300px;
    }

</style>


<body>
    <div class ="layout">
<!--        파일 업로드 위해 속성 추가 entype-->
        <form action="/board/writepro" method="post" enctype="multipart/form-data">
            <input name ="title" type ="text">
            <textarea name ="content"></textarea>
            <input type="file" name = "file">
            <button type="submit">작성</button>
        </form>
    </div>
</body>
</html>